<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Facturación</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Aplicación de Facturación</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Facturas</a></li>
            </ul>
        </nav>
        <section id="clientes">
            <h2>Clientes</h2>

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo electrónico</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se mostrarán los clientes -->
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.correoElectronico }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="#" class="btn btn-primary">Crear cliente</a>
        </section>
        <section id="facturas">
            <h2>Facturas</h2>

            <table>
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Fecha</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se mostrarán las facturas -->
                    {% for factura in facturas %}
                        <tr>
                            <td>{{ factura.numeroFactura }}</td>
                            <td>{{ factura.fechaEmision }}</td>
                            <td>{{ factura.total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="#" class="btn btn-primary">Crear factura</a>
        </section>
    </main>
    <script src="/static/js/app.js"></script>
</body>
</html>